* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    display: grid;
    place-items: center;
    background-color: #eeee;
    background-color: rgb(51, 51, 51);
}

.calendar {
    height: 100vh;
    width: 1200px;
    background-color: rgb(134, 133, 133);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    /* transform: scale(1.25); */
}

/* .light .calendar {
    box-shadow: var(--shadow);
} */

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: rgb(104, 206, 219);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: rgb(81, 35, 133);
    place-items: center;
}
.days div {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    /* border-radius: 50%; */
}


.days div.curr-date,
.days div.curr-date:hover {
    background-color:rgb(255, 8, 8);
    color: white;
    border-radius: 50%;
}

.days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.year-picker {
    display: flex;
    align-items: center;
    justify-content:center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}



.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: white;
}

.dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color:rgb(222, 124, 241);
    cursor: pointer;
}

.dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
    top: 2px;
    left: calc(2px + 50%);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}


.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
    background-color: #167e56;
    color:#ffff;
}
/* 
.days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
    color:#ffff;
  } */



.myModal a{
    display: inline-block;
    text-decoration: none;
    background-color:#fff;

}

.btn-add {
    background-color: rgb(116, 148, 95);
    width: 300px;
    padding:10px 30px;
    display:flex;
    flex-direction: column;
    position:absolute;
    left: 50%;
}

.active{
    display: none;
}

.btn-add ul{
    list-style: none;
}
.btn-add ul li button{
    float: right;
}
.todayChild{
    list-style: none;
    display: flex;
}